.sabih {

color: darkred;
padding-right: 50px;
text-decoration: none;
padding: 15px;
margin: 5px;
background: blue;
border-radius: 25px;


}

a:hover  {

      background: yellow;
}


body{
      background-image: url(wall.jpg);
}


#tab{

margin-top: 250px;
border: 1px solid black;
color: darkblue
}

#d1{

margin-top: 25px;
}
